body {
  min-height: 100vh;
  font-size: 15px;
  font-family: Manrope, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f9faff;
  box-sizing: border-box;         /* Opera/IE 8+ */
  
  --webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  --moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

body::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-image: url(../public/bg-pattern.svg);
  z-index: -1;
  border-radius: 0 0 0 150px;
}